{% extends 'base.html' %}

{% block title %}
{{post.title}}
{% endblock %}

{% block content %}
<h1>{{post.title}}</h1>
<small>By: {{post.author.first_name}} - {{post.post_date}} -
    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <small> - <a href="{% url 'update-post' post.pk %}">Edit</a></small>
    - <a href="{% url 'delete-post' post.pk %}">(Delete)</a>
    {% endif %}
    {% endif %}
</small>
<br>
<hr>
{% if post.header_image%}
<img src="{{ post.header_image.url}}" width="250" height="250"><br><br>
{% endif %}
{{post.body|safe}}

<br><br>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<br><br>
<hr>
<br>
<form action="{% url 'like_post' post.pk%}" method='POST'>

    
        {% csrf_token %}
    {% if user.is_authenticated %}
        {% if liked %}
            <button type="submit" name='post_id', value="{{ post.id }}", class='
            btn btn-danger btn-sm'>UnLike</button> 
        {% else %}
            <button type="submit" name='post_id', value="{{ post.id }}", class='
            btn btn-primary btn-sm'>Like</button> 

        {% endif %}
    {% else %}
        <small>
        <a href="{% url 'login' %}">Login in Like! </a>
        </small>
    {% endif %}
</form>


 {{ total_likes }}

 <br/><br/>


 <div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-2">
        {% if post.author.profile.profile_pic %}
        <img src="{{post.author.profile.profile_pic.url}}" class="img-fluid rounded-start" alt="...">
        {% endif %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{post.author.first_name}} {{post.author.last_name}}</h5>
          <p class="card-text"><small class="text-muted">
              <a href="{{post.author.profile.website_url}}">Website</a>
              <a href="{{post.author.profile.facebook_url}}">FaceBook</a>
              <a href="{{post.author.profile.linkedin_url}}">LinkedIn</a>
          </small></p>
          <p class="card-text">{{post.author.profile.bio}}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

 {% if post.author.profile.profile_pic %}
 <img src="{{ post.author.profile.profile_pic.url }}" width="200" height="200"
 class="rounded-circle">
 {% endif %}
{% endblock %}