{% extends 'base.html' %}
{% load static %}
{% block content %}



<!-- <h1>Posts</h1>
<br><br> -->

<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container-fluid">
        <!-- <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarExample01"
                aria-controls="navbarExample01"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button> -->
        <!-- <div class="collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
        </div> -->
      </div>
    </nav>
    <!-- Navbar -->
  
    <!-- Background image -->
    <div
            class="p-5 text-center bg-image"
            style="
            background-image: url('https://mdbootstrap.com/img/new/slides/041.jpg');
            height: 400px;
          "
    >
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">Blog</h1>
            <!-- <h4 class="mb-3">Subheading</h4> -->
            <!-- <a class="btn btn-outline-light btn-lg" href="#!" role="button"
            >Call to action</a
            > -->
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>
  <br><br>
<!--  <ul>
    {%for post in object_list%}
    <li>
        <a href="{% url 'article-detail' post.pk %}">{{post.title}}</a> - 
        <a href="{% url 'category' post.category|slugify %}">{{post.category}} </a>  - {{post.author.first_name}} - {{post.author.email}} -  {{post.post_date}} - 
        
        {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
        <small><a href="{% url 'update-post' post.pk %}">Edit</a></small>
        - <a href="{% url 'delete-post' post.pk %}">(Delete)</a>
       
        
        {% endif %}
        {% endif %}

        <br>
        {{post.snippet}}
        {{post.body|slice:":200"|safe }} -->
    <!-- </li> -->
    <!-- {%endfor%}
</ul> -->

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {%for post in object_list%}
            <!-- Post preview -->
            <div class="post-preview">
                <a href="{% url 'article-detail' post.pk %}">{{post.title}}</a> - 
        <a href="{% url 'category' post.category|slugify %}">{{post.category}} </a>
        <!-- - {{post.author.email}} -  {{post.post_date}} -  -->
        
        {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
        -- 
        <small><a href="{% url 'update-post' post.pk %}">Edit</a></small>
        - <small><a href="{% url 'delete-post' post.pk %}">Delete</a></small>
       
        
        {% endif %}
        {% endif %}

        <br>
        {{post.snippet}}
                <p class="post-meta">
                    Posted
                    {% if post.author.first_name %}
                    by
                    {{post.author.first_name}}
                    {% endif %}
                    on {{post.post_date}}
                </p>
            </div>
            
            <!-- Divider-->
            <hr class="my-4" />
            {%endfor%}
           
        </div>
    </div>
</div>

{% endblock %}