{% extends 'base.html' %}

{% block title %}
Update Post
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<h1>Edit POST</h1>
<br><br>
<div class='from-group'>
    <form method='POST'>
        {% csrf_token %}
        {{ form.as_p}}



        <button class="btn btn-secondary">Update</button>
</div>
{% else %}
<h1>You are not authorized to edit this post!!</h1>
{% endif %}
{% else %}
<h1>You are not Logged in to view this page!!</h1>

{% endif %}
{% endblock %}